@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
  --surface: #202324;
  --background: #131516; 
  --text: #d8d4cf;
}

html {
  width: 100%;
  height: 100%;
}

.title {
  position: relative;
  top: 3%;
}

.floating-icon {
  position: relative;
  top: 20%;

  animation: 0.7s ease-out 0s 1 slideDown;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

body {
  background-color: var(--background);
  color: var(--text);

  font-family: 'Alata', sans-serif;
  margin: 0px;
  width: 100%;
  height: 100%;
}

header {
  padding: 4rem;
  height: 90vh;
  vertical-align: middle;
  text-align: center;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-image: url('../assets/do2_lowres.jpg'); 

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top; 

  background-color: rgba(0,0,0,.4);
  background-blend-mode: multiply;

}

a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.img-button {
  display: flex;
  gap: 0.45rem;
  align-items: center;
}

main {
  margin: auto;
  padding: 2rem;
  text-align: center;
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  height: 90vh;
}

iframe {
  width: 500px;
  height: 281px;
}

.text-block {
  max-width: 80%;
  text-align: justify;
}

.tutorials {
  margin-top: 12rem;
}

button {
  background-color: var(--surface);
  color: var(--text);
  
  transition: 0.2s;

  padding: 0.75rem;

  text-align: center;
  
  font-size: 1.2rem;

  border-radius: 12px;
  border: none;
}

button:hover {
  transition: 0.2s;
  transform: scale(1.12);
  filter: brightness(1.2);
  cursor: pointer;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

/* smartphones, Android phones, landscape iPhone */
@media only screen and (max-width: 998px) {
  header {
    height: 40vh;
  }

  main {
    width: 92%;
  }

  iframe {
    width: 267.75px;
    height: 175px;
  }

  button {
    padding: 1rem;
    font-size: 2.3rem;
  }

  h1 {
    font-size: 72px;
  }

  #gh-logo {
    width: 42px;
    height: 42px;
  }

  .img-button {
    gap: 1rem;
  }

  .floating-icon {
    filter: opacity(0);
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-50%);
      filter: opacity(1);
    }
    100% {
      transform: translateY(0);
      filter: opacity(0)
    }
  }


  .text-block {
    max-width: 94%;
  }

  p {
    font-size: 45px;
  }
}

.wrapper {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;

}

.video-wrap {
  display:flex;
  flex-direction: row;
  gap:2rem;
  margin-top: 6rem;
  margin: 2rem;
}

.buttonGrid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


li {
  text-align: left;
}